QPushButton{
    border: 2px solid gray;
    border-radius:10px;
    padding : 0 8px;
    background: 9 #5ac47f;
}

QPushButton:hover {
    border: 2px solid #5ac47f;
    background-color: #398453;
}

QPushButton:pressed {
    background-color: #1c4f2e
}
QTextEdit{
text-align: center;
color: #333;
background-color: #dedec9;
font-family: Arial, sans-serif; над шрифтом подумаем
font-size: 32px;
padding: 5px;
border: 2px solid #5ac47f;
border-radius: 5px;
}
QLabel {
    text-align: center;
    color: #333;
    background-color: #dedec9;
    font-family: Arial, sans-serif; над шрифтом подумаем
    font-size: 32px;
    padding: 5px;
    border: 2px solid #5ac47f;
    border-radius: 5px;
}

QSpinBox {
    width: 20px;
    height: 20px;
    padding: 2px;
    border: 2px solid #5ac47f;
    border-radius: 7px;
    background-color: #dedec9;
    color: #333;
}

QSpinBox::up-button:hover, QSpinBox::down-button:hover {
    background-color: #ddd;
}

QSpinBox::up-button:pressed{
    background-color: red;
}
QSpinBox::down-button:pressed {
    background-color: green;
}

QLineEdit {
    text-align: center;
    background-color: #dedec9;
    border: 2px solid #5ac47f;
    border-radius: 7px;
}
